::-webkit-scrollbar {
  background: transparent;
  overflow: visible;
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 4px 6px;
  min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 6px 4px;
  min-height: 40px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.app-container {
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  font-size:13px;
  font-family: "Courier New", "돋움";
}

.app-menu {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:200px;
  background-color:#364251;

  .app-title {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    height:80px;
    /* fallback for old browsers */
    background: #364251;
    color:rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    box-sizing:border-box;
    padding:20px;
    
    .text {
      display:inline-block;
      vertical-align: middle;
      color:#FFFFFF;
      font-size:16px;
      font-weight:bold;

    }

    .switch {
      vertical-align: middle;
    }
  }

  .app-menu-list {
    position:absolute;
    left:0px;
    top:80px;
    right:0px;
    bottom:0px;
    padding:0px 20px;

    .menu {
      color:#FFFFFF;

      .menu-title {
        font-size:15px;
        color: rgba(255, 255, 255, 0.8);
        margin-top:20px;
        margin-bottom:10px;
      }

      .menu-items {
        margin-top:10px;
        .menu-item {

          padding:10px;

          &.selected {
            background-color:rgba(255, 255, 255, 0.1);
            border-radius:5px;
          }

          width:100%;
          box-sizing:border-box;
          display:inline-block;
          vertical-align: middle;
          color:rgba(255, 255, 255, 1);
          text-decoration:none;
          outline:none;

          i {
            display:inline-block;
            margin-right:10px;
            vertical-align: middle;
          }

        }
      }
    }
  }

}

.app-content {
  position:absolute;
  left:200px;
  top:0px;
  right:0px;
  bottom:0px;
  background-color:#ffffff;

  box-sizing: border-box;

  .content-title {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:70px;
    font-size:24px;
    margin:0px;
    box-sizing:border-box;
    padding:10px;


    .description {
      color:#a9a9a9;

      &.small {
        font-size:12px;
      }
    }
  }

  .content-list {
    position:absolute;
    left:0px;
    right:0px;
    top:80px;
    bottom:0px;

    .content-item {
      position:absolute;
      left:0px;
      right:0px;
      bottom:0px;
      top:0px;
      overflow:auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin:10px;
    }
  }

}

@import "./settings.less";
@import "./rule-table.less";
